* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7cff82;
}

header{
    background-color: #00A859;
    height: 320px;
}

@media (max-width: 420px){
    header{
        height: 550px;
    }
}


.logo{
    text-align: center;
    padding: 50px;
    align-items: center;        
}

@media (max-width: 420px){
    .img_logo{
        width: 200px;
        text-align: center;
    }
}



.img_logo{
    width: 300px;
    align-items: center;
    
}
.header_nav{
    width: 95%;
    height: 80px;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;  
    background-color: chartreuse;    
    justify-content: space-between;
    align-items: center;    
    padding: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 1);
}

@media (max-width: 420px){
    .header_nav {
        
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 0%;
        width: 100%;
        height: 340px;
    }
}

.menu{
    list-style: none;
    display: flex;
    padding: 10px;
}

@media (max-width: 420px){
    .menu {
        
        flex-direction: column;
        text-align: center;
        
    }
}

.menu li a{
    text-decoration: none;
    color: black;
    display: flex;    
    padding: 20px;
    padding-right: 40px;
    font-size: 20px;
    font-weight: bold;  
    transition: all 0.5s;
    transform: scale(1, 1);
}

@media (max-width: 420px){
    .menu li a {
        
        flex-direction: column;
        text-align: center;
        padding-right: 0;
    }
}

.menu li a:hover{
    transform: scale(1.2, 1.2);
        
}



.img_icono{
    width: 60px;
    padding: 2px;
    margin: auto;
    
}

@media (max-width: 420px) {
    .img_icono {
    display: none } }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 4% auto;    
    width: 95%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 1)
}

@media (max-width: 420px) {
    .container {
    display: flex;
    text-align: center;
    flex-direction: column; } }




.box {
    width: 95%;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;   
}

.box1 {
    width: 95%;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;  
}

h1{
    text-align: center;
    padding-top: 5%;
}
h2{
    padding: 2%;
    text-align: center;
}
.paseos{
    width: 80%;
}
.about{
    width: 80%;
}
p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}



footer {
    background-color: #00A859;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer h4 {
    color: white;
    text-align: center;
    padding: 40px; }
    footer .logo_redes {
    margin: 10px; }
    footer .logo_redes .logo_face {
        width: 60px; }
    footer .logo_redes .logo_ig {
        width: 60px; }

@media (max-width: 420px){
    footer{
        flex-direction: column;
    }
}

.logo_youtube{
    width: 30%;
    text-align: center;
}

.logo_wp{
    width: 20%;
}